.hero {
    background-image: url(assets/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 801px;
}

.hero-mrg {
    margin-top: 100px;
}
@media screen and (max-width:374px){
    .toggle-btn{
        position: relative;
        left: 39px;
    }
    .brand-ico{
        right: 34px;
        position: relative;
    }
}

.best {
    margin-top: 100px;
}

.best::after {
    content: "";
    display: block;
    width: 61px;
    height: 1px;
    background-color: #ffffff59;
    position: absolute;
    top: 121px;
    left: 416px;
}

.best::before {
    content: "";
    display: block;
    width: 61px;
    height: 1px;
    background-color: #ffffff59;
    position: absolute;
    top: 121px;
    left: 205px;
}

@media screen and (max-width:1300px) {
    .best::after {
        display: none;
    }

    .best::before {
        display: none;
    }
}

.digital {
    margin-top: 27px;
    font-size: 51px;
}

.descrip {
    margin-top: 30px;
}

.btn-radius {
    border-radius: 20px;
}

.bg-clr {
    background-color: #F6FBF9;
}

.f-size {
    font-size: 20px;
}

.pic-size {
    width: 50px;
    margin-left: 20px;

}


.bg-pic {
    background-image: url(assets/Group-1.png);
    background-size: cover;
    background-position: center;
    height: 294px;
}


.bg-pic .fb {
    right: 487px;
    position: absolute;
    bottom: 245px;
}



.bg-pic .insta {
    position: absolute;
    left: 453px;
    bottom: 224px;
}

.bg-pic .tele {
    position: absolute;
    right: 370px;
    top: 185px;
}

.bg-pic .vk {
    position: absolute;
    top: 187px;
    left: 345px;
}

.bg-pic .netflix {
    position: absolute;
    top: 241px;
    left: 497px;
}

.bg-pic .blue-img {
    top: 296px;
    position: absolute;
}

.bg-pic .green {
    position: absolute;
    top: 180px;
    right: 505px;
}

@media screen and (max-width:1198px) {
    .bg-pic .fb {
        display: none;
    }

    .bg-pic .insta {
        display: none;
    }
    .bg-pic .netflix{
        display: none;
    }
    .bg-pic .green{
        display: none;
    }
    .bg-pic .blue-img{
        display: none;
    }
    .v-pyramd{
        display: none;
    }

}
@media screen and (max-width:990px){
    .bg-pic .tele{
        right: 441px;
    }
    .bg-pic .vk{
        left: 425px;
    }
}
@media screen and (max-width:766px){
    .bg-pic .tele{
        right: 351px;
    }
    .bg-pic .vk{
        left: 333px;
    }
}
@media screen and (max-width:460px){
    .bg-pic .tele{
        display: none;
    }
    .bg-pic .vk{
        display: none;
    }
}
/* help section  */
.help-mrg{
    margin-top: 100px;
    padding: 44px 0 50px 0;
    background-color: #F6FBF9;
}
.v-pyramd{
    position: absolute;
    left: 200px;
    bottom: 140px;
}
/* Blogging section  */
.seo-card{
    width: 32rem;
}
.dg-card{
    width: 16rem;
}
.content-write::after{
    content: "";
    display: block;
    width: 89px;
    height: 2px;
    background-color: #98AB3C;
    position: absolute;
    top: 29px;
    left: 41px;
}
@media screen and (max-width:376px){
    .content-write::after{
        display: none;
    }
}

@media screen and (max-width:374px){
    .text-cntr{
        text-align: center;
    }
    .seo-card{
        width: 21rem;
        margin-left: 5px;
    }
    .dg-card{
        width: 18rem;
        margin-left: 31px !important;
    }
    .content-write{
        white-space: pre-line;
    }
}

@media screen and (max-width:578px) {
    .card-cntr{
        margin-left: 133px;
    }
    
}

/* subscribe section  */
.bg-subcribe{
    background-image: url(assets/Group-1.png);
    background-size: cover;
    background-position: center;
    height: 431px;
}
.building{
    position: absolute;
    top: 101px;
    left: 930px;
    height: 350px;
}
.window{
    position: absolute;
    left: 0;
    bottom: 211px;
}
.sub-head{
    margin-top: 75px;
    white-space: pre-line;
}
.sub-head-1{
    margin-left: 262px;
}
.email{
    margin-left: 73px;
    padding: 12px 51px 12px 29px;
    border-radius: 37px;
}
.email:focus{
    border-color: red;
}

.sub-btn{
    margin-top: 3px;
    margin-left: -201px;
    padding: 8px 30px 8px 30px;
    border-radius: 37px;
}
@media screen and (max-width:990px){
    .email{
        margin-left: 211px;
    }
    .sub-btn{
        margin-left: 265px;
    }
    .building{
        display: none;
    }
}
@media screen and (max-width:766px){
    .sub-head{
        font-size: 23px;
    }
    .sub-head-1{
        margin-left: 147px;
    }
    .email{
        margin-left: 126px;
    }
    .sub-btn{
        margin-left: 184px;
    }
}
@media screen and (max-width:374px){
    .sub-head{
        font-size: 21px;
    }
    .sub-head-1{
        margin-left: 55px;
    }
    .email{
        margin-left: 33px;
    }
    .sub-btn{
        margin-left: 92px;
    }
    .window{
        display: none;
    }
    .bg-subcribe{
        height: 500px;
    }

}
